LOGGING_LEVEL=warn
SPRING_PROFILES_ACTIVE=dev

DB_HOST=localhost
DB_PORT=5540
DB_NAME=driver_schedule_db
DB_USERNAME=postgres
DB_PASSWORD=yourpassword

SERVER_PORT=7801
APP_SERVER_URL=http://localhost:7801